<!--

    |\      _,,,---,,_
    /,`.-'`'    -.  ;-;;,_
   |,4-  ) )-,_..;\ (  `'-'
  '---''(_/--'  `-'\_)

   Meow do you do ヽ(●´∀`●)ﾉ

-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>外刊IT日报</title>

    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<h1><a href="{{ url.index(1) }}">外刊IT日报</a></h1>
{% block body %}
{% endblock %}
<script src="/assets/javascripts/jquery-2.1.3.min.js"></script>
</body>
</html>
